<legend>Post a Note:</legend>
<%=  form_for @note, url: project_issue_notes_path(@project,@issue) do |f| %>
  <p>
    <%= f.text_area :body ,class: "span12"%>
  </p>
  <p>
    <%= f.submit 'Save comment', class: "btn btn-mini btn-primary"  %>
  </p>
<% end %>