<p>
<%= form_for [@project,@issue] do |f| %>
	<ul>
  		<% @issue.errors.full_messages.each do |error| %>
    		<li><span class="text-error"><%= error %></span></li>
  		<% end %>
  	</ul>
  	<strong>change state:</strong>
	<%= f.collection_select :state_event, @issue.state_transitions, :event, :human_to_name %> 
	<%= f.submit 'change issue state', class: "btn btn-mini btn-success" %>
<% end %>
</p>